@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

/** Global **/ 
:root {
    --blue-color: #0065FC; 
    --light-blue-color: #DEEBFF; 
    --grey-color: #F2F2F2; 
    --second-grey-color: #D9D9D9; 
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

a { 
    text-decoration: none;
    color: #000000;
}

h2 { 
    font-size: 22px; 
}

h3 {
    font-size: 16px;
    margin: 0;
}

.blue { 
    color: var(--blue-color); 
}

.grey {
    color: var(--grey-color);
}

header, main, footer {
    max-width: 1400px;
    margin: auto;
    padding: 0 1em;
}

/** Header & Nav **/
header { 
    display: flex;
    align-items: center;
    margin-bottom: 2.5em;
}

img.logo { 
    width: 60px; 
}

nav { 
    width: 100%;
    text-align: right;
}

nav a {
    display: inline-block;
    padding: 2em 1em;
    border-top: 2px solid transparent;
}

nav ul {
    margin: 0;
}

nav li {
    display: inline-block;
}

nav a:hover {
    color: var(--blue-color);
    border-top-color: var(--blue-color);
    font-weight: 500;
}

/** Search **/
.search-filters h1, .search-filters .infos p {
    margin: 0;
}

.search-filters h2 {
    font-size: 18px;
}

.search-filters p {
    margin-top: 8px;
}

.search-form { 
    display: flex; 
    margin-top: 20px;
}

.input-icon {
    border-radius: 15px 0 0 15px;
    background: var(--grey-color);
    border: 1px solid var(--grey-color);
    padding: 1em;
}

.search-form input[type=text] {
    font: bold 18px 'Raleway', sans-serif;
    border: 1px solid var(--grey-color);
    padding-left: 1em;
}

.search-form .submit, .submit-mobile {
    font: bold 18px 'Raleway', sans-serif;
    border-radius: 0 15px 15px 0;
    background: var(--blue-color);
    color: #ffffff;
    border: none;
    padding: 0 1em;
    cursor: pointer;
}

.search-form .submit-mobile {
    display: none;
}

/** Filters **/
.more { 
    font-size: 18px;
    font-weight: bold;
}

.filters {
    margin: 2em 0;
    display: flex;
    align-items: center;
}

.filters button {
    margin: 0 1em;
    padding: 0.5em 1em;
    border-radius: 25px;
    border: 2px solid var(--second-grey-color);
    background-color: #ffffff;
    font: bold 17px 'Raleway', sans-serif;
    white-space: nowrap;
}

.filters button:hover {
    background: var(--light-blue-color);
    cursor: pointer;
}

.infos {
    display: flex;
    align-items: center;
}

.circle-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid var(--second-grey-color);
    border-radius: 50%;
    margin-right: 11px;
    font-size: 14px;
    padding: .1em;
}

.circle-info .fa-info {
    font-size: 12px;
}

/** Lodging **/
.lodging {
    display: flex;
    margin-top: 3em;
}

.large {
    width: 70%;
}

.container {
    background: var(--grey-color);
    padding: 1.5em;
    border-radius: 20px;
}

.lodging-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 2em;
    margin-bottom: 2em;
}


a.card {
    display: block;
    background: #ffffff;
    border-radius: 20px;
    padding: .3em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.lodging-grid a.card {
    width: 100%;
}

a.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-content {
    padding: .5em 1em;
}

a.card img.lodging-img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.lodging article p {
    font-size: 14px;
    margin: 0.2em 0;
}

.money {
    font-weight: 600;
}

.small-stars {
    font-size: 12px;
}

/** Popular **/
.medium {
    width: 27%;
    margin-left: 3%;
}

.right { 
    float: right;
}

.popular {
    display: flex!important;
}

.popular .card-content {
    display: flex;
    flex-direction: column;
}

.popular p {
    margin: 0;
    flex-grow: 1;
}

.popular img {
    width: 40%;
    min-width: 130px;
    height: 140px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.popular-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2em;
}

/** Activities **/
#activites {
    margin: 60px 0;
}

.activities {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
}

.activities a {
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
    height: 100%;
}

.activities a img {
    width: 100%;
    height: 400px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.activities h3 {
    padding: 1em;
}

.activities a:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/** Footer **/
.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3em;
    background-color: var(--grey-color);
}

.footer-content .col {
    padding: 1.5em 0 3em 3em;
}

.col h2 {
    font-size: 18px;
}

.col ul {
    margin: 0;
    padding: 0;
}

.col ul li {
    list-style: none;
    margin: .5em 0;
}

/** Responsive : max-width 992 px **/
@media (max-width: 992px) {
    header, main, footer {
        padding: 0 2em;
    }
    
    .lodging {
        flex-direction: column;
    }

    .lodging article p {
        font-size: 13px;
    }

    .popular img {
        width: 110px;
        min-width: 110px;
    }

    .large, .medium {
        width: auto;
    }

    .medium {
        margin: 4em 0 2em 0;
    }

    .popular-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 1.5em;
    }
}

/** Responsive : max-width 768 px **/
@media (max-width: 768px) {
    header, main, footer {
        padding: 0;
    }

    header {
        display: block;
        text-align: center;
        padding-top: 2em;
    }

    nav {
        text-align: center;
    }

    nav ul {
        margin: 1em 0 2em;
        padding: 0;
        width: 100%;
        display: flex;
    }

    nav li {
        width: 50%;
        list-style: none;
    }

    nav li a { 
        width: 100%;
        padding: 2em 0;
        border-top: 0;
        border-bottom: 3px solid var(--grey-color);
    }

    nav li a:hover {
        border-color: var(--blue-color);
    }

    .search-filters, section#activites {
        margin: auto;
        padding: 0 1em;
    }

    .search-form .submit, .more {
        display: none;
    }

    .search-form .submit-mobile {
        display: block;
    }

    .filters {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
    }

    .filters h2 {
        grid-column: 1/3;
    }

    .filters button {
        display: flex;
        align-items: center;
        font-size: 11px;
        text-align: left;
        margin: 0;
        padding: 1.2em 1em;
    }

    .filters button i {
        font-size: 21px;
        text-align: left;
        margin-right: .2em;
     }

    .lodging {
        flex-direction: column-reverse;
        margin: 0;
    }

    .lodging-grid a.card {
        width: auto;
    }

    .container {
        border-radius: 0;
        padding: 1em;
    }

    .popular-grid, .lodging-grid, .activities, .footer-content {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1.5em;
    }

    .popular img {
        width: 40%;
        min-width: 130px;
    }

    .lodging article p {
        font-size: 14px;
    }

    .large {
        background: #ffffff;
    }

    .activities a img {
        height: 140px;
    }

    .footer-content {
        padding: 1em 1.5em;
    }

    .footer-content ul {
        margin: 0!important;
        padding: 0;
    }
}